/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab:wght@300&display=swap');

/* basic reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

/* body */

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #9c9dde;
}

